@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --midnight-blue: #0a192f;
    --slate-gray: #8892b0;
    --black: #000000;
    --aqua: #64ffda;
    --teal: #00c7b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070c1c;
    color: var(--slate-gray);
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    border-radius: 20px;
    z-index: 10;
    padding: 1rem 2rem;
    background: rgba(15, 17, 20, 0.5);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.nav-links-mobile {
    display: none;
}

nav ul { /* drop down hamburger menu style */
    display: flex;
    list-style: none;
    border-radius: 5px;
}

nav ul li { /* links in hamburger menu and normal menu */
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li a {
    color: var(--slate-gray);
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--aqua);
}

main {
    padding-top: 120px;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fffffbb5;
    background: transparent;
    position: relative;
}

.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('public/images/Wallpaper.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}
.hero-content h1 {
    font-size: 8rem;
    font-weight: 700;
    margin-bottom: 8rem;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border: 1px solid var(--aqua);
    color: var(--aqua);
    text-decoration: none;
    border-radius: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background-color: var(--aqua);
    color: var(--midnight-blue);
}

.home-section {
    /* Styles specific to the home section can go here */
}

.technology-section {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 0;
    mask-image: linear-gradient(to top, black 85%, transparent 100%);

}


.applications-section {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 0;
    mask-image: linear-gradient(to top, black 85%, transparent 100%);

}


.data-section,
.sponsorship-section {
    padding: 4rem 2rem;
    max-width: 1000px;
    margin-right: 20px;
    scroll-margin-top: 100px;
    font-size: large;
}

.content-wrapper {
    max-width: 1000px;
    padding: 4rem 2rem;
    margin: 7rem;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    font-size: large;
    text-align: left;
}

.technology-section h2 {
    font-size: 4rem;
    text-align: left;
}

section h2 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: #0a142f;
}
.logo-img {
    height: 40px;
    margin-right: 15px;
}
.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--slate-gray);
    margin: 5px 0;
    transition: 0.4s;
}

.nav-links.active {
    display: flex;
    padding: 10px;
}

@media screen and (max-width: 850px) {
    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        display: none;
        position: absolute;
        right: 0;
        top: 85px; /* Adjust as needed */
        backdrop-filter: blur(10px);
        border-radius: 20px;
        flex-direction: column;
        width: 100%;
        text-align: right;
    }

    .nav-links-mobile.active {
        display: flex;
    }

    .nav-links-mobile li {
        padding: 0px;
    }

    .hamburger {
        display: block;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.sponsor-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #082029;
    color: white;
    text-decoration: none;
    border-radius: 35px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.sponsor-button:hover {
    background-color: #ff6347; /* Lighter blood-orange */
    box-shadow: 0 0 95px #ff450085, 0 0 25px #ff450080, 0 0 35px #ff45007d;
}
.center-button {
    text-align: center;
    margin-top: 2rem;
}